@font-face {
    font-family: "Patrick Hand";
    src: url("../fonts/PatrickHand-Regular.ttf");
}

* {
    box-sizing: border-box;
    font-family: "Patrick Hand", sans-serif;
}
:root {
    --w-sm: 75px;
    --w-md: 100px;
    --w-lg: 125px;
    --w-xl: 150px;
    --w-xxl: 175px;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.text-center {
    text-align: center;
}
body {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.video-bg {
    background-color: black;
}
.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.menu {
    display: none;
    position: fixed;
    left: 100px;
    top: 100px;
    z-index: 10000;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 3px rgb(145, 145, 145);
}
.menu.active {
    display: block;
}
.menu .menu__container {
    display: grid;
}

.menu .menu__container > .menu__item {
    cursor: pointer;
    padding: 0 8px;
    width: 200px;
    font-size: 18px;
    position: relative;
    margin: 3px 0;
}
.menu .menu__container > .menu__item .menu-language {
    display: none;
    position: absolute;
    width: 120px;
    background-color: white;
    border-radius: 7px;
    right: -125px;
    top: 0px;
    box-shadow: 0 0 3px rgb(145, 145, 145);
}
.menu .menu__container > .menu__item .menu-language.active {
    display: block;
}
.menu .menu__container > .menu__item .menu-language .menu__item {
    cursor: pointer;
    padding: 0 8px;
    width: 120px;
    font-size: 18px;
    position: relative;
    margin: 3px 0;
}
.menu .menu__container > .menu__item .menu-language .menu__item span {
    display: none;
    cursor: pointer;
}
.menu .menu__container > .menu__item .menu-language .menu__item span.checked {
    display: inline;
}
.menu .menu__container > .menu__item .level-2 {
    display: none;
    position: absolute;
    width: 140px;
    background-color: white;
    border-radius: 7px;
    right: -145px;
    top: 0px;
    box-shadow: 0 0 3px rgb(145, 145, 145);
    z-index: 1000;
}
.menu .menu__container > .menu__item .level-2.active {
    display: block;
}
.menu .menu__container > .menu__item .level-2 .menu__item {
    cursor: pointer;
    padding: 0 8px;
    width: 140px;
    font-size: 18px;
    position: relative;
    margin: 3px 0;
}
.menu .menu__container .menu__item span,
.menu .menu__container .menu__item label {
    cursor: pointer;
}
.menu .menu__container > .menu__item .level-2 .menu__item span {
    display: none;
    cursor: pointer;
}
.menu .menu__container > .menu__item .level-2 .menu__item span.checked {
    display: inline;
    cursor: pointer;
}
.menu .menu__container .menu__item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.menu .menu__container .menu__item .right-icon {
    width: 10px;
    position: absolute;
    right: 5px;
    top: 1px;
}
.menu .menu__container .menu__item.menu__item-sort {
}
.menu .menu__container .menu__item-sort-f {
    border-top: 1px solid #dedede;
}
.change-video {
    position: fixed;
    z-index: 10000;
    background-color: white;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: all 0.3s linear;
    transform: translateY(100%);
}
.change-video.active {
    transform: translateY(0);
}
.change-video .change-video__container {
    position: relative;
    height: 100%;
}
.change-video .change-video__container .close--btn {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 50px;
    top: 20px;
    cursor: pointer;
}

.change-video .change-video__container .close--btn:hover {
    transform: scale(1.05);
}
.change-video .change-video__container .bottom-btn {
    /* position: absolute; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
    width: calc(100% - 50px);
}
.change-video .change-video__container .bottom-btn > * {
    border: 1px black solid;
    cursor: pointer;
    margin: 0 3px;
    padding: 3px 10px;
    color: white;
    border-radius: 5px;
}
.change-video .change-video__container .bottom-btn > *:hover {
    transform: scale(1.04);
}
.change-video .change-video__container .bottom-btn .save--btn {
    background-color: green;
}
.change-video .change-video__container .bottom-btn .reset--btn {
    background-color: rgb(45, 69, 156);
}
.change-video .change-video__container .upload--btn {
    margin: 0 auto;
    width: 120px;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer !important;
}
/* .change-video .change-video__container .upload--btn:hover {
    background-color: azure;
} */

.change-video .change-video__container .upload--btn svg {
    margin: 0 auto;
    width: 80px;
    height: 80px;
}
.change-video .change-video__container-video-upload {
    display: flex;
    justify-content: center;
}
.change-video .change-video__container-video-upload .list-videos {
    width: calc(40% - 10px);
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
    max-height: 80vh;
    min-height: 280px;
}
.change-video .change-video__container-video-upload .list-videos .list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.change-video .change-video__container-video-upload .video-demo {
    width: 55%;
    margin: 0 50px;
    display: none;
}
.change-video .change-video__container-video-upload .list-videos .item {
    width: calc(50% - 20px);
    height: 20vh;
    position: relative;
    margin-bottom: 15px;
    margin: 5px 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item.active {
    border: 3px solid rgb(0, 255, 247);
}
.item .action-btn {
    position: absolute;
    bottom: -30px;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    transition: all 0.2s linear;
}
.item:hover .action-btn {
    bottom: 0;
}
.item .action-btn > div {
    width: 28px;
    height: 28px;
    margin: 0 10px;
}
.item .action-btn > div svg {
    fill: white;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 4px;
}
.change-video .change-video__container-video-upload .list-videos .item video {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.change-video .change-video__container-video-upload .video-demo.active {
    display: block;
}

.change-video .change-video__container-video-upload .video-demo video {
    width: 100%;
}
.swal2-container {
    z-index: 99999999 !important;
}
.loader-custom {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    color: #638889;
    left: -100px;
    box-sizing: border-box;
    animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
    0% {
        box-shadow: 0px 0 rgba(127, 199, 217, 0), 0px 0 rgba(127, 199, 217, 0),
            0px 0 rgba(127, 199, 217, 0), 0px 0 rgba(127, 199, 217, 0);
    }
    12% {
        box-shadow: 100px 0 #0b60b0, 0px 0 rgba(127, 199, 217, 0), 0px 0 rgba(127, 199, 217, 0),
            0px 0 rgba(127, 199, 217, 0);
    }
    25% {
        box-shadow: 110px 0 #0b60b0, 100px 0 #0b60b0, 0px 0 rgba(127, 199, 217, 0),
            0px 0 rgba(127, 199, 217, 0);
    }
    36% {
        box-shadow: 120px 0 white, 110px 0 #0b60b0, 100px 0 #0b60b0, 0px 0 rgba(127, 199, 217, 0);
    }
    50% {
        box-shadow: 130px 0 white, 120px 0 white, 110px 0 #0b60b0, 100px 0 #0b60b0;
    }
    62% {
        box-shadow: 200px 0 rgba(127, 199, 217, 0), 130px 0 white, 120px 0 white, 110px 0 #0b60b0;
    }
    75% {
        box-shadow: 200px 0 rgba(127, 199, 217, 0), 200px 0 rgba(127, 199, 217, 0), 130px 0 #0b60b0,
            120px 0 #0b60b0;
    }
    87% {
        box-shadow: 200px 0 rgba(127, 199, 217, 0), 200px 0 rgba(127, 199, 217, 0),
            200px 0 rgba(127, 199, 217, 0), 130px 0 #0b60b0;
    }
    100% {
        box-shadow: 200px 0 rgba(127, 199, 217, 0), 200px 0 rgba(127, 199, 217, 0),
            200px 0 rgba(127, 199, 217, 0), 200px 0 rgba(127, 199, 217, 0);
    }
}

.app-icon {
    position: relative;
    z-index: 10;
    width: 0;
    height: 0;
}
.app-icon .app-icon__item {
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 4px;
}
.app-icon .app-icon__item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.app-icon .app-icon__item.sm {
    width: var(--w-sm);
}
.app-icon .app-icon__item.md {
    width: var(--w-md);
}
.app-icon .app-icon__item.lg {
    width: var(--w-lg);
}
.app-icon .app-icon__item.xl {
    width: var(--w-xl);
}
.app-icon .app-icon__item.xxl {
    width: var(--w-xxl);
}
.app-icon .app-icon__item.sm .icon {
    height: calc(var(--w-sm) * 0.8);
}
.app-icon .app-icon__item.md .icon {
    height: calc(var(--w-md) * 0.8);
}
.app-icon .app-icon__item.lg .icon {
    height: calc(var(--w-lg) * 0.8);
}
.app-icon .app-icon__item.xl .icon {
    height: calc(var(--w-xl) * 0.8);
}
.app-icon .app-icon__item.xxl .icon {
    height: calc(var(--w-xxl) * 0.8);
}

.app-icon .app-icon__item.lg .title,
.app-icon .app-icon__item.xl .title {
    font-size: 18px;
}
.app-icon .app-icon__item.xxl .title {
    font-size: 22px;
}
.app-icon .app-icon__item .icon {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.app-icon .app-icon__item img {
    width: 100%;
}
.app-icon .app-icon__item.sm {
    font-size: 12px;
}
.app-icon .app-icon__item.md {
    font-size: 14px;
}
.app-icon .app-icon__item .title {
    color: white;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.app-icon .options {
    position: absolute;
    width: 100px;
    background-color: white;
    border-radius: 4px;
    top: 45px;
}
.app-icon .options ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.app-icon .options li {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    padding: 3px 10px;
}

.app-icon .options li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.app-icon .options {
    display: none;
}
.app-icon .options.active {
    display: block;
}
.swal-shortcut-group {
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 5px;
}
.swal-shortcut-group label {
    display: inline-block;
    min-width: 72px;
    text-align: left;
    color: black;
}

.swal-shortcut-group input {
    flex: 1;
    font-size: 18px;
}
.swal-shortcut-group input:focus-visible,
.swal-shortcut-group input:focus-within {
    outline: none;
}
.swal-shortcut-group .icon-label {
    margin-top: 20px;
}

.swal-shortcut-group .select-icon,
.swal-shortcut-group .change-icon {
    margin-top: 15px;
    font-size: 14px;
    border: 1px solid;
    height: 24px;
    text-align: center;
    border-radius: 4px;
    margin-left: 25px;
}
.swal-shortcut-group img {
    width: 100px;
    height: fit-content;
}
.z-index-1000 {
    z-index: 1000;
}
.select-image {
    display: none;
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    border-radius: 5px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10000000000;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
}
.select-image .select-image__container {
}
.select-image .select-image__container > div {
    display: grid;
    width: 800px;
    background-color: white;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 15px;
    padding-bottom: 5px;
    align-content: flex-start;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    animation: Grow ease-in-out 0.1s;
    max-height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
}
@media (max-width: 820px) {
    .select-image .select-image__container > div {
        width: 700px;
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }
}
@media (max-width: 720px) {
    .select-image .select-image__container > div {
        width: 600px;
        grid-template-columns: auto auto auto auto auto auto auto;
    }
}
@media (max-width: 620px) {
    .select-image .select-image__container > div {
        width: 500px;
        grid-template-columns: auto auto auto auto auto;
    }
}
@media (max-width: 520px) {
    .select-image .select-image__container > div {
        width: 400px;
        grid-template-columns: auto auto auto auto;
    }
}
.select-image.active {
    display: flex;
}
@keyframes Grow {
    from {
        transform: scale(0.8);
    }
}
.select-image .select-image__container > div .item {
    width: 80px;
    height: 80px;
    border: 1px solid #b0b0b0;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-image .select-image__container > div .item svg {
    width: 40px;
    height: 40px;
}
.select-image .select-image__container .item img {
    width: 80px;
    height: auto;
}
.loader {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #337357;
    box-shadow: 16px 0 #337357, -16px 0 #337357;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
    0% {
        background-color: rgba(51, 115, 87, 0.15);
        box-shadow: 16px 0 rgba(51, 115, 87, 0.15), -16px 0 #337357;
    }
    50% {
        background-color: #337357;
        box-shadow: 16px 0 rgba(51, 115, 87, 0.15), -16px 0 rgba(51, 115, 87, 0.15);
    }
    100% {
        background-color: rgba(51, 115, 87, 0.15);
        box-shadow: 16px 0 #337357, -16px 0 rgba(51, 115, 87, 0.15);
    }
}
